/*global styling*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:10px;
    color:aliceblue;
    overflow-x:hidden;
}
:root{
    --blue: #e8e8e8;
    --blueHover: #dfbdf7;
}

/*header styling*/

header{
    height:100vh;
    width:100%;
    background-image:url(img/2167.png);
    background-size:cover;
    position:fixed;
    top:0;
    left:0;
    overflow-x:hidden;
    font-family: 'IBM Plex Serif', serif;
    z-index:1;
}


header hgroup{
    position:absolute;
    top:8%;
    left:10%;
    text-transform: uppercase;
    z-index: 1;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

header h1{
    font-size:5rem;
    font-family: 'IBM Plex Serif', serif;
}

header h3{
    font-size:2rem;
    font-weight:400;
}

header h3 .fa-solid{
    font-size:2.1rem;
    font-weight:400;
    transform: translateX(10px);
    position:absolute;

}

#arrow{
    width:66px;
    height:66px;
    border: 3px solid black;
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translateX(-50%);
    border-radius: 50%;
    font-size:4rem;;
    text-align: center;
    overflow:hidden;
    text-shadow: 0px -15px 0 white, 0 -30px 0 white;
    color:white;
    transition:all 0.4s linear;
}

#arrow:hover{
    text-shadow: 0px -15px 0 grey, 0 -30px 0 black;
    color:white;
    border:3px solid white;
    border-radius: 30%;
    cursor:pointer;
}

#arrow .fa-solid{
animation: down 1.6s infinite ease-in-out;
position:relative;
transform:translateY(10px);
}

/*navbar styling*/
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #333;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a{
    position:relative;
    z-index:4;
    background-color:#333;
    border-top:1px solid black;
  }
  
  /* Style the active link */

/*scrollbar stylign*/

body::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background:#333;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
  }

/*main content styling*/

  main {
    height:100vh;
    background-color:#333;
    margin-top:100vh;
    position:relative;
    z-index:2;
    overflow:hidden;
    background-image:linear-gradient(to bottom, #222, #333);
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
    scroll-behavior:smooth;
    overflow: hidden;
}

#content{
    position:relative;
    top:3%;
    margin-left:1rem;
    margin-right:2rem;
    border-left:1px solid white;
    height:52%;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
main h3{
    margin-left:1rem;
    font-size:2rem;
    font-family: 'IBM Plex Serif', serif;
}

.anim1{
    width:5vh;
    height:5vh;
    background-color:white;
    margin-bottom:2rem;
    margin-left:2rem;
    animation:circles 5s ease-in-out infinite;
}

.anim2{
    width:5vh;
    height:5vh;
    background-color:white;
    margin-top:3rem;
    margin-left:2rem;
    animation:circles 5s ease-in-out infinite;
    animation-delay: 2.5s;
}

 .press{
    width:20vh;
    height:12vh;
    position:relative;
    top:20vh;
    left:33%;
    border:2px double grey;
    border-radius:20px;
    background-color:#333;
    color:white;
    transition:all .2s ease-in-out;
}

.press:active{
    background-color:rgb(208, 208, 208);
    box-shadow: 0px 0px 93px -20px rgba(159,255,174,0.75);
-webkit-box-shadow: 0px 0px 93px -20px rgba(159,255,174,0.75);
-moz-box-shadow: 0px 0px 93px -20px rgba(159,255,174,0.75);
}

/*information section styling */

#info{
    background-image:linear-gradient(to bottom, #333, rgb(90, 90, 90));
    position:absolute;
    top:200vh;
    z-index:2;
    width:100%;
    height:110vh;
}

.down_arrow .fa-solid{
    font-size:12rem;
    position:absolute;
    bottom:7rem;
    left:37%;
    animation:lower 2s ease-in-out infinite;
}
.con{
    position:relative;
    top:20vh;
    left:0;
}

#info .hel{
    font-size:3.2rem;
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;
    animation:up_down 8s linear infinite;
}

#info h3{
    font-size:1.7rem;
    text-align:justify;
    margin-left:2rem;
    margin-right:2rem;
}

#info h2{
    font-size:2.6rem;
    margin-top:2rem;
    margin-left:2rem;
}
 a{
    color:white;
    text-decoration:none;
}


/*media styling*/

@media (orientation: portrait) {
 h3 span::after{
    content:'\A';
    white-space:pre;
 }
 header{
    background-image:url(img/2167.png);
    background-size: cover;
 }
}

@media (orientation: landscape) and (max-width:700px) {
    
    
    header{
        background-image: url(img/2167.png);
        background-size:cover;
     }

     main h3{
        font-size:1.5rem;
     }
     main{
        height:100vh;
     }
     .press{
        width:40vh;
        left:40%;
     }

     #info{
        height:200vh;
     }
}

@media (max-width:320px){
    header hgroup{
    top:10%;
    }
    
     header h1{
     font-size:3.5rem;
    }
    
     header h3{
         font-size:2rem;
     }
     header hgroup {
         transform:rotate(-15deg);
     }
     main h3{
         font-size:1.5rem;
         font-family: 'IBM Plex Serif', serif;
     }
 }

 @media (max-width:600px){
    .toggle-button{
        display:flex;
    }

    .navbar-links{
       display:none;
       width:100%;
    }

    .navbar{
        flex-direction:column;
        align-items:flex-start;
    }
    .navbar-links ul{
        flex-direction:column;
        widtH:100vw;
        background-color:#333;
    }

    .navbar-links li{
        text-align:center;
    }

    .navbar-links:active{
        display:flex;
    }
 }
@media (min-width:700px){
    header h3{
         font-size:4rem;
     }
    header h1{ font-size:6rem;}
    main h3{
     font-size:3.6em;
     font-family: 'IBM Plex Serif', serif;
 }
 .press{
     width:30vh;
     height:20vh;
     top:15vh;
     left:30%;
     cursor:pointer;
     font-size:4rem;
     transition:all 0.3s ease-in-out;
 }
 
 #arrow{
     transform:scale(1.7);
 }

 #info .hel{
    font-size:6rem;
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;
    animation:up_down 8s linear infinite;
}

#info h3{
    font-size:3rem;
    text-align:justify;
    margin-left:2rem;
    margin-right:2rem;
}

#info h2{
    font-size:4.6rem;
    margin-top:2rem;
    margin-left:2rem;
}

#exp h2{
    font-size:2rem;
}

.topnav .icon{
    transform: scale(1.3);
}
 }



@media screen and (min-width: 840px){
   header{
    background-image: url(img/2167.png);
    background-size: cover;
    background-repeat: no-repeat;
   }

    #arrow{
        width:100px;
        height:80px;
        border-radius:20%;
        font-size:5rem;
        transform:scale(1);
        left:45%;
        
    }
    header hgroup{
        top:16%;
        left:14%;
    }
    header h1{
        font-size:6rem;
        font-family: 'IBM Plex Serif', serif;
        transform: rotate(-15deg) translateX(-50px);
    }
    
    header h3{
        font-size:3rem;
        font-weight:400;
        transform: rotate(-15deg) translateX(-50px);
    }
    header h3 .fa-solid{
        font-size: 4rem;
    }

    main h3{
        font-size:3rem;
        font-family: 'IBM Plex Serif', serif;
    }
.press{
    width:50vh;
    height:30vh;
    top:15vh;
    left:35%;
    cursor:pointer;
    font-size:4rem;
    transition:all 0.3s ease-in-out;
}

    .press:hover{
        background-color:rgb(208, 208, 208);
    box-shadow: 0px 0px 93px -20px rgba(159,255,174,0.75);
-webkit-box-shadow: 0px 0px 93px -20px rgba(159,255,174,0.75);
-moz-box-shadow: 0px 0px 93px -20px rgba(159,255,174,0.75);
color:#333;
    }

}


/*animations styling*/

@keyframes down {
    0%{transform:translateY(-50px);}
    100%{transform:translateY(80px);}
    
}

@keyframes circles {
    0%{transform:translateX(0px); border-radius:0%; background-color:rgb(255, 255, 255);}
    10%{border-radius:10%;}
    50%{transform:translateX(800%); border-radius:60%; background-color:rgb(170, 255, 131);}
    100%{transform:translateX(0px); border-radius:0%; background-color:rgb(255, 255, 255);}
}
